/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}
body {
  background-image: url("https://media.tenor.com/93btrHia1oMAAAAM/dancing-cow-cow.gif");
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
  background-attachment: fixed;    
]
